<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VHTEAM</title>
</head>
<body>
    <h1>VH TEAM</h1>
    <video id="localStream" width="300" controls></video>
    <br>
    <video id="friendStream" width="300" controls></video>
    <br>
    <label for="">MY CONNEC...TOKEN</label><br>
    <textarea name="" id="txtMySignal" cols="100" rows="3"></textarea>
    <br/>
    <input type="text" placeholder="Your frend's token" id="txtFriendSignal">
    <br>
    <button id="btnConnect">Connect</button>
</body>
<script src="bundle.js"></script>
</html>